<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}Shopping 51{% endblock %}</title>
</head>
<body>
    <h4>Navegación</h4>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'buscar' %}">Buscador</a></li>

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'perfil' %}">Perfil</a></li>
            <li><a href="{% url 'carrito' %}">Carrito ({{ request.session.carrito.keys|length }})</a></li>
            <li><a href="{% url 'logout' %}">Logout ({{ request.user.username }})</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'registro' %}">Registro</a></li>
        {% endif %}
    </ul>

    {% block contenido %}{% endblock %}

    <p>&copy; 2017 - Moisés Cachay</p>
</body>
</html>
